body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
}
h1 {
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
a {
    color: #656464;
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}
a:hover {
    color: #333;
}

.articles {
    max-width: 800px; /* Maximum width of the articles container */
    margin: 0 auto; /* Center the articles container */
    padding: 20px; /* Optional: Add padding around the container */
}

.article {
    border: 1px solid #ccc; /* Border color and width */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Padding inside the box */
    margin: 10px 0; /* Margin outside the box */
    background-color: #f9f9f9; /* Background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}